<div class="page-shell">
  <div class="flex-between-center">
    <div>
      <h1>Services</h1>
    </div>

    <div>
      @if (!isFormOpen) {
        <button (click)="onClickOpenForm()">
          <app-generic-button btnClass="submit-button"> Add Service </app-generic-button>
        </button>
      } @else {
        <app-cancel-button [handler]="onClickCloseForm" />
      }
    </div>
  </div>

  @if (isFormOpen) {
    <app-service-form
      [submitHandler]="onSubmit"
      [initialValue]="editingItem"
      [entityFilterDataHelper]="filterDataHelper"
    />
  }
  @if (error()) {
    <p class="error-message">{{ error() }}</p>
  }

  @if (items().length) {
    <table class="items-table">
      <thead>
        <tr>
          <th>Service Date</th>
          <th>Service Type</th>
          <th>Status</th>
          <th>Recurring Item</th>
          <th>Vendor</th>
          <th>Service Estimate</th>
          <th>Service Amount</th>
          <th>Invoice Document</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of items(); track item.id) {
          <tr>
            <td>{{ getFormatted(item.serviceDate) }}</td>
            <td>{{ item.serviceType }}</td>
            <td>{{ item.serviceStatus }}</td>
            <td>{{ item.recurringItemName }}</td>
            <td>{{ item.vendorName }}</td>
            <td>{{ item.serviceEstimate | currency: 'INR' }}</td>
            <td>{{ item.serviceAmount | currency: 'INR' }}</td>
            <td>{{ item.invoiceDocument || '-' }}</td>
            <td>
              <div class="actions-cell">
                @if (getActionMenuItems(item).length) {
                  <app-dropdown-menu
                    triggerLabel="Take action"
                    [items]="getActionMenuItems(item)"
                    (itemSelected)="onActionMenuSelect(item, $event)"
                  />
                } @else {
                  <div class="text-center w-full">-</div>
                }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p class="empty-state">No services found.</p>
  }
</div>
