<div class="page-shell">
  <div class="flex-between-center">
    <div>
      <h1>Appointments</h1>
    </div>

    <div>
      @if (!isFormOpen) {
        <button (click)="onClickOpenForm()">
          <app-generic-button btnClass="submit-button"> Add Appointment </app-generic-button>
        </button>
      } @else {
        <app-cancel-button [handler]="onClickCloseForm" />
      }
    </div>
  </div>

  @if (isFormOpen) {
    <app-appointment-form
      [submitHandler]="onSubmit"
      [initialValue]="editingItem"
      [entityFilterDataHelper]="filterDataHelper"
    />
  }
  @if (error()) {
    <p class="error-message">{{ error() }}</p>
  }

  @if (items().length) {
    <table class="items-table">
      <thead>
        <tr>
          <!-- <th>ID</th> -->
          <th>Date</th>
          <th>Type</th>
          <th>Status</th>
          <th>Vendor</th>
          <th>Recurring Item</th>
          <th>Created On</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of items(); track item.id) {
          <tr>
            <!-- <td>{{ item.id }}</td> -->
            <td>{{ getAppointmentDateFormatted(item.appointmentDate) }}</td>
            <td>{{ item.appointmentType }}</td>
            <td>{{ item.appointmentStatus }}</td>
            <td>{{ item.vendorName }}</td>
            <td>{{ item.recurringItemName }}</td>
            <td>{{ +item.createdOn | date: 'dd MMM yyyy, HH:mm' }}</td>
            <td>
              <div class="actions-cell">
                <!-- <button class="action-btn edit-btn" (click)="onClickEdit(item)" title="Edit">
                  ✏️
                </button> -->
                @if (getActionMenuItems(item).length) {
                  <app-dropdown-menu
                    triggerLabel="Take action"
                    [items]="getActionMenuItems(item)"
                    (itemSelected)="onActionMenuSelect(item, $event)"
                  />
                } @else {
                  <div class="text-center w-full">-</div>
                }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p class="empty-state">No appointments found.</p>
  }
</div>
